/* line 1, /Users/jonathankoller/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
body {
  font: 100% Helvetica, sans-serif;
  background-color: #FFEFDF;
  margin-top: 5%;
}

/* line 6, /Users/jonathankoller/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
body h1 {
  font-size: 3em;
}

/* line 9, /Users/jonathankoller/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
body p {
  font-size: 2em;
}

/* line 12, /Users/jonathankoller/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-brand a {
  font-size: 2em;
  color: white;
}

/* line 16, /Users/jonathankoller/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
.nav li a {
  font-size: 2em;
}

/* line 19, /Users/jonathankoller/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
footer {
  background-color: gray;
  padding-top: 2%;
  padding-left: 1%;
  padding-bottom: 2%;
  color: white;
  font-size: 1.5em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
